body {
    background-color: orange;
}

header {
    background-color:blue;
    color: white;
    padding: 10px;
}
.topnav {
   overflow: hidden;
}   
.topnav a {
    float: left;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    width: 20%
}

h1 {
    float: right;
    font-size: 18px;
}
/*need button to be on right side, need a div for the right*/
main {
    background-color: grey;
    padding: 10px;
}

footer {
    background-color: purple;
    color: white;
    padding: 10px;
}
